@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
  color-scheme: none;
}
.total-page{
  display: flex;
  width:100vw;
}
.total-page {
    font-family: "Inter";
    font-optical-sizing: auto;
    font-style: normal;
}
body{
  display: flex;
  overflow-x: hidden;
}
@media (max-width:1240px) {
  .total-page{
    display: flex;
    flex-direction: column;
  }
}
.logout{
  text-decoration: none;
  color: black;
}
